.header {
    position: relative;
    z-index: 20;
    padding-top: 44px;

    @include media ("<tablet") {
        padding-top: 25px;
    }

    .logo {
        @include media ("<tablet") {
            width: 127px;
        }
    }

    &_content {
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 30px;
    }
}