<div id="form-popup" class="form_body">
    <button class="form-popup-close" aria-label="Close form">
        <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M18 6L6 18M6 6L18 18" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
        </svg>
    </button>
    <div class="form_inner">
        <h2>Contact us to explore partnership opportunities.</h2>
        <form action="#" id="contact-form" novalidate>
            <div class="input_wrap">
                <input type="text" name="firstName" placeholder="First Name"
                    autocomplete="given-name">
            </div>
            <div class="input_wrap">
                <input type="text" name="lastName" placeholder="Last Name"
                    autocomplete="family-name">
            </div>
            <div class="input_wrap">
                <input type="tel" name="phone" placeholder="Phone Number" autocomplete="tel">
            </div>
            <div class="input_wrap">
                <input type="email" name="email" placeholder="Email Address" autocomplete="email">
            </div>
            <button type="submit" class="btn btn_secondary">Send</button>
        </form>
    </div>
</div>